.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-and-footer-background-color);
}

.heading-footer {
  margin-bottom: 20px;
}

.info {
  width: 270px;
}

.footer-list {
  width: 270px;
  margin-top: 12px;
  margin-left: 30px;
}

.footer .link-list {
  justify-content: start;
}

.subscribe {
  width: calc(100% / 2 - 15px);
  margin-top: 12px;
  margin-left: 30px;
}

.form-footer {
  display: flex;
}

.input-email {
  background-color: inherit;
  color: #ffffff;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
