.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;

  @include for-size(tablet) {
    margin-left: -30px;
  }
}

.project-list-item {
  display: block;
  flex-basis: 100%;
  margin-top: 30px;

  @include for-size(tablet) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.project-list .card {
  display: block;
  transition: all 250ms var(--hover-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-list .card-name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-description {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transition: all 250ms var(--hover-function);
  opacity: 0;
  transform: translatey(100%);

  .card:hover &,
  .card:focus & {
    transform: translate(0%);
    opacity: 1;
  }
}
