.heading {
  text-align: center;
  margin-bottom: 50px;
}

.strength .name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  @include for-size(tablet) {
    text-align: left;
  }
}

.strength .strength-list {
  margin-top: -30px;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.strength-list .item {
  margin-top: 30px;

  @include for-size(tablet) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    background-color: #f5f4fa;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}

.strength .antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.strength .clock::before {
  background-image: url(../img/svg/clock.svg);
}

.strength .diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.strength .astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
}
