.button-list {
  display: flex;

  margin-bottom: 50px;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;

  & .item {
    margin-top: 15px;
    margin-left: 8px;
  }

  @include for-size(tablet) {
    justify-content: center;
  }
}

.portfolio-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: all 250ms var(--hover-function);

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button {
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms var(--hover-function);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.modal-window .button {
  padding: 10px 56px;
  margin-top: 30px;
}

.hero .button {
  padding: 10px 32px;
  border-radius: 4px;
  transition: background 250ms var(--hover-function);
}

.footer .button {
  padding: 10px 28px;
  margin: 20px auto 0 auto;
  display: flex;

  @include for-size(desktop) {
    margin: 0 0 0 12px;
  }
}

.footer .icon-send {
  margin-left: 10px;
  margin-top: 3px;
  fill: #ffffff;
}
