body {
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
  font-family: 'raleway', sans-serif;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;

  @include for-size(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.contact {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.label-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.heading-footer {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-link {
  color: var(--primary-heading-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero-heading {
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.form-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  line-height: 1.143;
  letter-spacing: 0.01em;
  font-size: 16px;
}

.form-list .comment {
  font-size: 14px;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio .name {
  color: var(--primary-heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.thumb-description {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.heading {
  color: var(--primary-heading-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.strength .name {
  color: var(--primary-heading-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.strength .discription {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team .description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
